*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Cor1: #833AB4;
    --Cor2: #B43D8A;
    --Cor3: #E4405F;
    --FontParágrafos: 'League Spartan', sans-serif;
    --FontTitles: 'Marck Script', cursive;
}
@keyframes animaçãoButton {
    0%{
        margin-top: 0px;
    }
    100%{
        margin-top: 5px;
    }
}
.bloco{
    background-color: blue;
    border: 1px solid black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContainerFlyer{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
}
.ContainerFlyer img{
    width: 400px;
    height: 400px;
}
.Frase p{
    font-family: var(--FontParágrafos);
    font-size: 12pt;
    font-weight: 600;
    margin-top: 20px;
    color: black;
}
.RedirectButton{
    margin-top: 20px;
    height: 50px;
    display: flex;
}
.RedirectButton a{
    text-decoration: none;
    font-family: var(--FontParágrafos);
    color: white;
    background-image: linear-gradient(to right top, var(--Cor1), var(--Cor2), var(--Cor3));
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.103);
    height: 15px;
    animation-name: animaçãoButton;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*RESPONSIVIDADE*/
@media (max-width: 400px){
    .bloco{
        height: 500px;
    }
    .ContainerFlyer{
        width: 95%;
        height: max-content;
    }
    .ContainerFlyer img{
        width: 100%;
        height: auto;
    }
}