*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Cor1: #833AB4;
    --Cor2: #B43D8A;
    --Cor3: #E4405F;
    --FontParágrafos: 'League Spartan', sans-serif;
    --FontTitles: 'Marck Script', cursive;
}
@keyframes animaçãoButton {
    0%{
        margin-top: 0px;
    }
    100%{
        margin-top: 5px;
    }
}
.bloco{
    height: max-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContainerFlyer{
    width: 90%;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.ContainerFlyer::after{
    content: "";
    width: 90%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.138);
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}
#Container1{
    background-image: url('imagens/IMG-20240104-WA0009.jpg');
    background-size: cover;
    background-position: center center;
}
#Container2{
    background-image: url('imagens/IMG-20240104-WA0010.jpg');
    background-size: cover;
    background-position: center center;
}
#Container3{
    background-image: url('imagens/IMG-20240105-WA0031.jpg');
    background-size: cover;
    background-position: center center;
}
#fraseBar, #fraseShellpi{
    font-family: var(--FontParágrafos);
    font-size: 13pt;
    font-weight: 600;
    margin-top: 10px;
    color: black;
    text-shadow: 0px 0px 4px white;
}
#fraseAluga{
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 13pt;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: 0px 0px 4px black;
}
.RedirectButton{
    margin-top: 20px;
    height: 50px;
    display: flex;
}
.RedirectButton a{
    text-decoration: none;
    font-family: var(--FontParágrafos);
    color: white;
    background-image: linear-gradient(to right top, var(--Cor1), var(--Cor2), var(--Cor3));
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.103);
    height: 15px;
    animation-name: animaçãoButton;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}