*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Cor1: #833AB4;
    --Cor2: #B43D8A;
    --Cor3: #E4405F;
    --FontParágrafos: 'League Spartan', sans-serif;
    --FontTitles: 'Marck Script', cursive;
}
body{
    background-image: linear-gradient(to right bottom, black, #340810);
    background-size: 300%;
    height: max-content;
    padding-bottom: 20px;
}
#ButtonsLinks{
    margin: auto;
    height: 534px;
    min-width: 300px;
    max-width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.button{
    height: 165px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px -20px 50px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.boxLink{
    height: 165px;
    width: calc(100% - 165px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#Perfil1{
    background-image: url('imagens/alugaFacilLogo.jpg');
    background-size: cover;
}
#Perfil2{
    background-image: url('imagens/PraçaLogo.jpg');
    background-size: cover;
}
#Perfil3{
    background-image: url('imagens/ShellpiLogo.jpg');
    background-size: cover;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.082);
}
.Perfil{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.082);
    height: 100%;
    width: 165px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.iconInsta{
    margin-top: 10px;
    height: 50px;
}
h2{
    font-family: var(--FontParágrafos);
    font-size: 10pt;
    font-weight: 400;
}
.LinkIsta{
    background-image: linear-gradient(to right bottom, var(--Cor1), var(--Cor2), var(--Cor3));
    backdrop-filter: blur(2px);
    margin-bottom: 10px;
    width: 80px;
    border: 1px white solid;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.12);
    color: white;
    text-decoration: none;
    font-family: var(--FontParágrafos);
    text-align: center;
    justify-content: center;
}
.LinkIsta:hover{
    width: 85px;
    transition: 0.2s;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 18px;
}
#Copy p{
    text-align: center;
    margin-top: 12px;
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 10pt;
}
.CellPhone, .Local{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 8px;
}
.CellPhone p{
    font-family: var(--FontParágrafos);
    font-size: 10pt;
    color: gray;
}
.Local p{
    font-family: var(--FontParágrafos);
    font-size: 10pt;
    color: gray;
}
.Icon{
    filter: brightness(0.3);
    height: 15px;
}
#Copy{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
#LimaDev{
    color: var(--Cor3);
    text-decoration: none;
    margin: auto;
    font-family: var(--FontParágrafos);
}
#LimaDev:hover{
    color: #972a3e;
}